.skills-list__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
  align-self: start;
}

.skills-list__link {
  background-color: var(--white);
  color: var(--grey-700);
  padding: 0.6em 1em;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  gap: 1em;
  align-items: center;

  svg {
    opacity: 0.5;
  }
}
