@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Styles Here*/

.logo-path {
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 0.2px;
}

@media screen and (min-width: 800px) {
  .clip {
    clip-path: polygon(
      26.46% -2%,
      100.63% -1.17%,
      99.79% 98.67%,
      0.21% 99.33%
    );
  }
}
