@custom-media --ipad (width > 600px);
@custom-media --desktop (width > 1200px);

.grid {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: span 12;

  @media (--ipad) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid a {
  display: flex;
  background-color: var(--gray-300);

  @media (--ipad) {
    grid-column: span 6;
  }
}

.grid a:nth-child(n + 3) {
  @media (--ipad) {
    grid-column: span 3;
  }
}

.grid a:nth-child(n + 7) {
  @media (--ipad) {
    grid-column: span 4;
  }
}

.wrap {
  grid-column: span 12;
}
