@custom-media --ipad (width > 600px);

.grid {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;

  @media (--ipad) {
    gap: 4rem;
    margin: 4rem 0;
    grid-template-columns: 2fr 3fr;
  }
}

.title {
  font-size: var(--font-size-md);
  margin: 0 0 2rem 0;
}

.content {
  @media (--ipad) {
    margin-bottom: 4rem;
  }
}

.content p {
  font-size: var(--font-size-base);
  color: var(--gray-700);
  margin-top: 2rem;
}

.grid figure {
  margin: 0;
}

.wrap {
  grid-column: span 12;
  min-height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
