@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Styles Here*/

.logo-path {
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 0.2px;
}

@media screen and (min-width: 800px) {
  .clip {
    clip-path: polygon(30px 0px, 500px 0px, 498px 170px, 0px 173px);
  }
}


