.grid {
  gap: 4rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 4rem 0;
}

.title {
  font-size: var(--font-size-md);
  margin: 0 0 1rem 0;
}

.content {
  margin-bottom: 4rem;
}

.content p {
  font-size: var(--font-size-base);
  color: var(--gray-700);
  margin-top: 2rem;
}

.grid figure {
  margin: 0;
}

.wrap {
  grid-column: span 12;
  background-color: aqua;
  min-height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
